.instructions-wrapper {
  display: flex;
  justify-content: center;
}

.instructions-content {
  width: 60vw;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  border-radius: 10px;
}