.end-button {
  margin-left: 85vw;
}

.header{
  margin-top: 5px;
  margin-left: 100px;
}

.font-space{
  font-family: "SpaceFont";
  padding-bottom: 1vh;
}

.font-jungle{
  font-family: "JungleFont";
  font-size:xx-large;
  padding-bottom: 1vh;
}