.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  margin-top: 1.5rem;
}

.logo > img {
  height: 70px;
}

.end-button {
  margin-left: 85vw;
}
