.input-home{
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
.learnverseBannerHome{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 300px;

}
.button-home{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}
.click-selectpage{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}