body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('assets/backgroundPurple.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SpaceFont";
  src: local("SpaceFont"),
   url("./fonts/space-font-reg.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "JungleFont";
  src: local("JungleFont"),
    url("./fonts/jungle-font.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "CocoFont";
  src: local("CocoFont"),
    url("./fonts/cocogoose.ttf") format("truetype");
  font-weight: bold;
  }

  