// General styling

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('assets/backgroundPurple.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.logo {
  height: 6rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.banner {
  height: 15rem;
}

.horizontally-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-centered {
  text-align: center;
}

.right {
  margin-left: 1rem !important;
}

// Homepage styling

.home-container {
  margin-top: 10vh;

  .horizontally-centered {
    margin-top: 2rem;
  }
}

// Selection styling

.selection-container {

  .horizontally-centered {
    margin-top: 2rem;
  }
}

// Room styling

.room-container {
  margin-top: 10vh;

  .horizontally-centered {
    margin-top: 2rem;
  }

  .module-image {
    height: 16rem;
  }

  .name-bubble {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
}

// Game styling

.game-container {

  .horizontally-centered {
    margin-top: 1.5rem;
  }

  .game-info {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.canvas-wrapper {
  max-height: 70vh;
  width: 80vw;
  margin: 0 auto;

  .interface {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

// Fonts

@font-face {
  font-family: "GravityFont";
  src: local("GravityFont"),
   url("./fonts/gravity-font.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "EvolutionFont";
  src: local("EvolutionFont"),
    url("./fonts/evolution-font.ttf") format("truetype");
  font-weight: bold;
  }
